<!-- wrapper -->
<div id="wrapper">
  <div id="header" class="sticky shadow-after-3 clearfix">
    <div class="container">
      <header id="topNav">
        <a class="logo pull-left" href="https://www.brainlaunch.com/index2.php" target="_self">
          <%= image_tag("blogo126x80.png") %>
        </a>
        <div class="navbar-collapse pull-right nav-main-collapse collapse">
          <nav class="nav-main">
            <ul id="topMain" class="nav nav-pills nav-main">
              <li class="dropdown">
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php">
                  HOME
                  </a>
              </li>
              <li class=""><!-- ABOUT US -->
                <a class="" href="https://www.brainlaunch.com/index2.php/about-us/">
                  ABOUT US
                  </a>
              </li>
              <li class="dropdown"><!-- PROGRAM -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/program/">
                  PROGRAM
                  </a>
              </li>
              <li class="dropdown mega-menu"><!-- STORE -->
                <%= link_to("STORE", store_path) %>
              </li>
              <li class="dropdown"><!-- BLOG -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/blog/">
                  BLOG
                    </a>
              </li>
              <li class="dropdown"><!-- VIDEOS -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/videos/">
                  VIDEOS
                    </a>
              </li>
              <% if user_signed_in? %>
                <li class="dropdown mega-menu">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WELCOME, <%= current_user.first_name.upcase %><span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                    <li><%= link_to('Account', accounts_path ) %></li>
                    <li><%= render 'layouts/cart_text' %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown">
                  <a class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <%= link_to user_omniauth_authorize_path(:facebook) do %>
                      <li><i class="fa fa-facebook"></i> Facebook</li>
                      <!-- PATH TO USER FOR EXTERNAL AUTH -->
                      <!-- {{ROOT}}/users/auth/facebook -->
                    <% end %>
                  </ul>
                <% end %>
              </ul>
            </li>
          </nav></div>
      </header>
    </div>
  </div>
</div>