<!DOCTYPE html>
<html>
  <head>
    <title>BrainLaunch</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
  </head>
  <nav>
    <%= render partial: 'nav/top_fixed'  %>
  </nav>
  <body>
    <%= render partial: 'layouts/flash_messages'  %>
    <%= yield %>
  </body>
  <footer>
    <%= render partial: 'layouts/footer'  %>
  </footer>
</html>