<% unless current_user.account.present? %>
  <br>
  <%= link_to("Click Here to set up your Account", new_accounts_path, class:"h4") %>
<% else %>
  <%= render partial: 'nav/top_fixed'  %>
  <div>
    <h4>Personal Information</h4>
    <h4>Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></h4>
    <h4>Acocunt Number: <%= current_user.id %></h4>
    <h4>Students: </h4>
    <button class="btn btn-warning">Edit Info</button>
    <button class="btn btn-success">Add Student</button>
    <button class="btn btn-primary">Id like to be added to the mailing list</button>
  </div>
  <h4>Course Information</h4>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Last Date Used</th>
          <th>Current Program</th>
          <th>Current Section Name</th>
          <th>Progress</th>
          <th>Phase</th>
          <th>For Student</th>
        </tr>
        <tbody>
          <tr>
            <th><%= Time.now.to_s(:short) %></th>
            <th>One</th>
            <th>Laterality Development</th>
            <th>one of three</th>
            <th>Two</th>
            <th>Bobby Tables <button class="btn btn-warning btn-xs">Launch</button></th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
  <div>
    <h4>List Of Past Courses Purchased</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Program Name</th>
          <th>Date Purchased</th>
          <th>Date Completed</th>
          <th>Certificiate Of Compleation</th>
        </tr>
        <tbody>
          <tr>
            <th>One</th>
            <th><%= Time.now.to_s(:short) %></th>
            <th><%= Time.now.to_s(:short) %></th>
            <th>
              <button class="btn btn-success btn-xs">View</button>
              <button class="btn btn-primary btn-xs">Print</button>
              <button class="btn btn-success btn-xs">Download</button>
            </th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
<% end %>