<% unless current_user.account.present? %>
  <br>
  <%= link_to("Click Here to set up your Account", new_accounts_path, class:"h4") %>
<% else %>
  <%= render partial: 'nav/top_fixed'  %>
  <div>
    <h4>Personal Information</h4>
    <h4>Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></h4>
    <h4>Acocunt Number: <%= current_user.id %></h4>
    <hr>
    <h4>Students: </h4>
    <!--  -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--  -->
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group">
          <%= simple_form_for @student do |f| %>
            <%= f.input :name, placeholder: 'Add a students name' %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Id like to be added to the mailing list</button>
  </div>
  <h4>Current Course Information</h4>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Last Date Used</th>
          <th>Program</th>
          <th>Current Section</th>
          <th>Progress</th>
          <th>Phase</th>
          <th>For Student</th>
        </tr>
        <tbody>
          <tr>
            <th><%= Time.now.to_s(:short) %></th>
            <th>One</th>
            <th>Laterality Development</th>
            <th>one of three</th>
            <th>Two</th>
            <th>Bobby Tables <button class="btn btn-warning btn-xs">Launch</button></th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
  <hr>
  <div>
    <h4>Courses Purchased</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Program Name</th>
          <th>Date Purchased</th>
          <th>Date Completed</th>
          <th>Certificiates</th>
          <th></th>
        </tr>
        <tbody>
          <tr>
            <td>One</td>
            <td><%= Time.now.to_s(:short) %></td>
            <td><%= Time.now.to_s(:short) %></td>
            <td>
              <button class="btn btn-success btn-xs">View</button>
              <button class="btn btn-primary btn-xs">Print</button>
              <button class="btn btn-success btn-xs">Download</button>
            </td>
            <td><button class="btn btn-success btn-xs">Buy Again</button></td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
<% end %>